// Theme's Styles
@import("/Users/gaurish/Desktop/Coding/Cofo-Framework/documentation/node_modules/vuepress-theme-vt/styles/index.styl")

// User's Styles
@import("/Users/gaurish/Desktop/Coding/Cofo-Framework/documentation/docs/.vuepress/styles/index.styl")